* {
  font-family: 'Alegreya Sans',
    sans-serif;
}

main,
footer {
  margin-left: 80px;
  margin-right: 80px;
}

.footer__icon {
  width: 30px;
  height: 30px;
}

.contact__icon {
  width: 50px;
  height: 50px
}

.top__icon {
  width: 30px;
  height: 30px
}

nav a {
  text-decoration: none;

}

.top__nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

h1 strong {
  text-decoration: solid underline;
}

h1 {
  font-weight: 400;
}

.skills__progress-bar {
  display: flex;
  flex-direction: column;
}

.home__four-titles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home__four-texts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
}

.home__on-the-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.home__text {
  margin: 50px;
}

.home__white-circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.home__white-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  margin: 20px;
}